@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao GreenCycle!</h1>

    <br />
    <h4 class="display-5">Descrição:</h4>
    <br />
    <h6>
        Nossa empresa oferece um aplicativo para outras empresas como hoteis e condominios alugarem
        bicicletas, patins e patinetes com o objetivo de incentivar o uso desses produtos para diminuir a quantidade
        de acidentes envolvendo mobilidade e também ajudar o meio ambiente.
        Uma das funções da nossa solução é permitir que o dono da empresa crie uma conta no nosso programa
        para poder ter acesso ao que temos a oferecer, o dono podera acessar a nossa tabela de reservas e
        podera escolher reservar uma bicicleta um patins ou um patinete para alugar.
        A outra função ira permitir que o usuario pesquise pelo item que ele deseja, o administrador teria
        acesso a todas as tabelas e o padrão teria acesso apenas a tabela reserva.

    </h6>

    <a asp-controller="Suporte" asp-action="Problema">Suporte</a>
</div>


