@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao GreenCycle!</h1>

    <br />
    <h4 class="display-5">Descrição:</h4>
    <br />
    <h6>
        Nossa empresa oferece um aplicativo para outras empresas como hotéis e condomínios poderem alugar
        bicicletas, patins e patinetes com o objetivo de incentivar o uso desses produtos para diminuir a quantidade
        de acidentes envolvendo a mobilidade e também ajudar o meio ambiente.
        Uma das funções da nossa solução é permitir que o dono da empresa crie uma conta no nosso programa
        para poder ter acesso ao que temos a oferecer, o dono poderá acessar a nossa tabela de reservas e
        poderá escolher reservar uma bicicleta, um patins ou um patinete para alugar.
        A outra função irá permitir que o usuário pesquise pelo item que ele deseja, o administrador teria
        acesso a todas as tabelas para administrá-las e ver as empresa, usuários e itens que estavam registrados
        nas tabelas e o dono da empresa teria acesso apenas a tabela reserva onde ele procuraria para reservar eles
        os itens que ele desejasse comprar.

    </h6>

    <adress>
        <suporte mailTo="suporteaspnetcore@gmail.com"></suporte>
    </adress>

</div>


